* {

	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-size: 16px;

}

.nav-icon, .mobile-navbar {

	display: none;

}
html, body {

  	overflow-x: hidden;
  	width: 100%;
  	font-family: "Lato", sans-serif;
  	font-size: 16px; 

} 

/*style the header */

header {
  height: 10vh;
	background-color: #ffffff;
	font-family: "Gugi", cursive;
} 

header .nav {

	  display: flex;
  	flex-direction: row;
  	justify-content: flex-end;
  	flex-flow: nowrap;
  	align-items: center;
  	padding: 20px 50px 20px 0;
  	position: fixed;
  	z-index: 4;
  	background-color: #0493cc;
  	width: 100%;
}

.nav a {

	padding: 0 40px 0 50px;
	color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5vw;
	margin-top: -5px;
}

.nav a:hover {

  	color: #bbb6b6;;
}  


/*style the welcome section*/

/*add animation class*/

.container .welcome-sec {

	background-color:  #42bff0;
  color: #FFFFFF;
  text-align: center;
  height: 90vh;
  position: relative; 
}
.welcome-sec .welcome-part {

  	margin: 0 auto; 
}
/*add animation for slider*/
 
@keyframes sliding-forward {

	from {transform: translateX(0%);}
	to {transform: translateX(400%);} 
}

@keyframes sliding-back { 

  from {transform: translateX(-400%)}
	to {transform: translateX(0%)}
}


.forward {

	animation: sliding-forward 2s ease-in-out;
	transform: translateX(-400%);

}


.back {

	animation: sliding-back 2s ease-in-out;
	transform: translateX(0%);
}  


/*add animation for slider*/

 
.welcome-part .photo-div {
  padding: 100px 0 30px 0;
  margin: 0 auto;
  text-align: center;
} 

.photo-div .photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  
}

.welcome-part h2 {

  font-size: 20px;
  padding-left: 15px;
  font-family: "Arial", "Gugi", cursive;
}

/* .welcome-part h1 span {
  color: #A3395B;
	font-size: 3vw
}  */

.welcome-part p {

	font-size: 20px;
	
}
.container .welcome-sec .about {
  	width: 500px;
  	text-align: center;
	margin: -200px auto 0 auto;
} 

.welcome-sec .not-visible {

	transform:  translateX(-400%);
} 

 .container .welcome-sec .about h2 {
  font-size: 3vw;
  font-weight: 600;
  color: #FFFFFF;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.container .welcome-sec .about p {
  font-size: small;
	line-height: 15px;

}

.container .welcome-sec .about .social i {
  padding: 15px 0 0 20px;
  font-size: 25px;
  color: #FFFFFF;
}

.container .welcome-sec .about .social i:hover {
  color: #bbb6b6;
  cursor: pointer;
}

.container .welcome-sec .contain {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 600px;
  top: 450px;

} 

.container .welcome-sec .contain .circle {
  margin-top: 30px;
  margin-left: 5px;
  display: block;
  border-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.container .welcome-sec .contain .colored {
  background-color: #f7f452;
} 

.container .welcome-sec .contain .right {
  margin-left: 10px;
}

/*style projects section*/

.container .penart-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0 70px 0;
}

.penart-sec .sec-title {
  text-align: center;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.penart-sec .sec-title h2 {
  padding-bottom: 5px;
  border-bottom-color: #42BFF0;
  border-bottom-width: thick;
  font-size: 30px;
  border-bottom-style: solid;
  font-family: "Gugi", cursive;
  letter-spacing: 2px;
  width: 170px;
  margin: 0 auto;
}

.penart-sec .penart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pen-contain {
	display: none;
  margin: 0 0 70px 0;
  border-radius: 6px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: thin;
  width: 450px;
  height: 350px;
  position: relative;
  overflow: hidden;
}


.penart-1 {

	display: block;

}

.penart-2 {

	display: block;
}

.pen-screenshot {
  width: 100%;
}

.pen-screenshot:hover {
  width: 120%;
  transition: width 1s ease-in-out;
}
.penart-title {
  background-color: #d0d7e2;
  z-index: 3;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 0 0 30px;
  width: 100%;
  height: 40%;
}

.penart-title h6 {
  font-size: 20px;
  color: #053346;
  font-weight: 1000;
  font-family: "Gugi", cursive;
}

.penart-title p {
  padding: 5px 50px 10px 0;
  color: #373f0c;
  font-weight: 1000;
}

.penart-title .links {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.penart-title .penart-link {
  position: absolute;
  right: 60px;
  font-size: 18px;
  float: right;
  color: #353a38;
  font-family: "Gugi", cursive;
  font-weight: 600;
}

.penart-container .penart-2 {
  margin-left: 90px;
}

.penart-3 .penart-title .penart-link {
  top: -20px;
}



.penart-4 .pen-screenshot {
  height: 100%;
  width: 100%;
}

.penart-4 .pen-screenshot:hover {
  height: 120%;
  width: 120%;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.penart-4 .penart-title .penart-link {
  top: -20px;
}


.penart-5 .pen-screenshot {
  height: 100%;
  width: 100%;
}

.penart-5 .pen-screenshot:hover {
  height: 120%;
  width: 110%;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.penart-5 .penart-title .penart-link {
  top: -20px;
}

.penart-1 .penart-link {

	top: 10px;
}

.penart-2 .penart-link {
	top: 10px;
}

.penart-3 .penart-link {

	margin-top: 25px;
}

.penart-4 .penart-link {

	margin-top: 40px;
}

.penart-5 .penart-link {

	margin-top: 30px;
}

.penart-sec .more, .penart-sec .less {
  width: 140px;
  height: 40px;
  background-color:  #f7f452;
  border-color:  #f7f452;
  color: #000000;
  font-family: "Gugi", cursive;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0 0 20px;
  box-shadow: 4px 4px 4px #CFCFCF;
}

.penart-sec .more i, .penart-sec .less i {
  padding: 0 0 0 5px;
  font-size: 18px;
}

.penart-sec .toggle {
  display: none;
}

/*style conatct section*/

.contact {

  background-color: #42BFF0;
  padding: 20px 0 30px 0;

}

.contact .contact-div {
  margin: 20px auto;
  text-align: center;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 600px;
  height: 160px;
  padding: 40px 0 40px 0;
  box-shadow: 2px 3px #CFCFCF;
}

.contact .contact-div h2 {
  color: #000000;
  font-size: 2vw;
  font-family: "Gugi", cursive;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact .contact-div p {
  font-size: 19px;
  padding-top: 20px;
}

.contact .contact-div p span {
  color: #5f5e01;
  font-weight: 700;
}

.contact .contact-div .email {
  color: #5f5e01;
  padding-bottom: 2px;
  padding-top: 10px;
  border-bottom-style: dotted;
  width: 255px;
  margin: 0 auto;
  border-bottom-color: #5f5e01;
  cursor: pointer;
  font-size: 25px;
}

.contact .social {
  margin: 0 auto;
  text-align: center;
}

.contact .social a {
  color: #FFFFFF;
  padding-left: 25px;
}

.contact .social i {

	font-size: 25px;
}
.contact .social a:hover {
  color: #bbb6b6;
}

footer {
  color: #A6A5A6;
  text-align: left;
  padding: 5px 30px;
}

/*style for mobile view on screen less than 500px*/

@media only screen and (max-width: 500px) {

	header .nav {

		display: none;
	}

	.nav-icon, .mobile-navbar {

		display: block;
	}

	.nav-icon i {

		font-size: 40px;
		color: white;
		float: right;
		margin: 10px;
		cursor: pointer;

	}

	.menu {

		position: absolute;
		right: 5px;
		top: 5px;
		opacity: .9;
		text-align: center;
		list-style: none;
		border-radius: 5px;
    background-color: #42BFF0;
		z-index: 1;
		height: 99vh;


	}

	.close i {

		font-size: 40px;
		text-align: right;
		color: white;

	}
	.close {

		position: absolute;
		right: 1px;
		top: 1px;
		display: none;

	}
	.menu li:first-of-type {

		margin-top: 200px;
	}
	.menu li {

		margin: 40px;
	}
	.menu li a {

		color: white;
		text-decoration: none;
		margin: 10px;
		font-size: 30px;
	}

	.menu li a:hover {

		color: #A3395B;

	}

/*	class of menu openning*/
	.opened {

		width: 98%;
		transition: width 1s ease-in-out;

	}

	.closed {

		width: 0%;
		transition: width 1s ease-in-out;
	}

	.welcome-part h1 {

		font-size: 40px;
	}

	.welcome-part h1 span {

		font-size: 30px;
	}

	.welcome-part p {

		font-size: 25px;
	}

	.container .welcome-sec .contain {

		left: 45%;

	}

	.container .welcome-sec .about {

		width: 90%;
	}

	.container .welcome-sec .about h2 {
		font-size: 25px;
	}

	.container .pen-contain {

		width: 90%;

	}

	.penart-sec .penart-container {

		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
	}

	.penart-container .penart-2 {

		margin-right: 90px;
	}

	.contact .contact-div {

		width: 90%;
	}

	.contact .contact-div h2 {

		font-size: 25px;

	}

	.contact .contact-div p {

		font-size: 20px;
	}
}